<html>
<head>
 <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet"> 
</head>

<style>
body {
    background-image: url("http://il9.picdn.net/shutterstock/videos/4637663/thumb/1.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height: 100%;
}
.font {
	font-family: 'Fjalla One', sans-serif;
}

</style>
<body >
<br>


<div class="font">
<h2>Contact us : Volunpeer@meet.mit.edu</h2>
<hr>
<h2>About us :</h2>	
<h3> We are 11 graders from nazareth and jerusalem, we aim to ease the volunteering process, and break social bounderies between people from different backgrounds. our group members are: Adan Suleiman, Rita Abunassar, Mahmoud Khalifa, Harel Bartuv, Noga Ben Yehuda, Samira Moussa, Tamer Kirresh, Tina Carmi, Anan Abu Hamed, Jeries Saleh, Tehila Pelled, Gidon Schienera and Ido nov.</h3>
</div>

</body>
</html>