<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <link rel="stylesheet" href="../static/common-files/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/common-files/css/fonts-v3.css">
  <link rel="stylesheet" href="../static/common-files/css/base-v4.css">
  <link rel="stylesheet" href="../static/styles/properties-66bf0b91-8604-7471-f73a-2620d17119b9.css">
</head>

<body>

  <div id="_1">

    <i id="_2"></i>

    <div id="_3" class="nm-label">
      <p id="_4">
        An easier way to volunteer!
        <br/>
      </p>
    </div>

    <div id="_5" class="nm-label">
      <h1 id="_6">
            VOLUNPEER<br/>
        </h1>
    </div>

    <nav id="_7" class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li>

            <a id="_8" class="navbar-brand" href="#">Brand</a>
          </li>
          <li class="active">

            <a id="_9" href="{{ url_for('home') }}">Home</a>
          </li>
          <li>

            <a id="_10" href="#">Profile</a>
          </li>
          <li>

            <a id="_11" href="#">Messages</a>
          </li>
        </ul>
      </div>
    </nav>

    <nav id="_12" class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li>

            <a id="_13" class="navbar-brand" href="{{ url_for('home') }}">Home</a>
          </li>
          <li>

            <a id="_14" href="{{ url_for('placesToVolunteer') }}">places to volunteer in</a>
          </li>
          <li>

            <a id="_15" href="{{ url_for('login') }}">Login</a>
          </li>
          <li>

            <a id="_16" href="{{ url_for('logout') }}">Logout</a>
          </li>
        </ul>
      </div>
    </nav>

    <div id="_17">

    </div>

    <div id="_18">

    </div>

    <div id="_19">

    </div>

    <div id="_20">

    </div>

    <div id="_21">

    </div>

    <div id="_22">

    </div>

    <div id="_23">

    </div>

    <div id="_24">

    </div>
    <svg id="_25">
      <line id="_26" x1="0" x2="9" y1="0" y2="15" />
    </svg>

    <div id="_27" class="nm-label">
      <h1 id="_28">
            VOLUNPEER<br/>
        </h1>
    </div>
  </div>
  <script type="text/javascript" src="../static/common-files/js/require.min.js" data-main="../scripts/startup"></script>
</body>

</html>