
<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->

</head>

<style>
body {
    background-image: url("http://il9.picdn.net/shutterstock/videos/4637663/thumb/1.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height: 100%;
}
.font {
	font-family: 'Fjalla One', sans-serif;
}

.mainleft {
 	margin-left: 250px;
 	max-width: 200px;
}	
.mainmid {
 	margin-left: 500px;
 	max-width: 200px;
}	
.mainright {
 	margin-left: 750px;
 	max-width: 200px;
}	

.thumbnail > .web_app_img {
	width: 300px;
	height:250px;
	border-radius: 20px;
}


</style>

<body>
<br>
<br>
<br>
<br>
<div class="container-fluid"> 

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail transparent web_app_img">
    <div class="web_app_img">
      <img  width="200" height="100" src="https://lh5.googleusercontent.com/-caRnA2VpbcA/VGNxLzBSvzI/AAAAAAAAO_E/SvNcAc6tqfc/s200/382390_359557467447739_16057189_n.jpg">
      <div class="caption">
        <h3>Mariams organization</h3>
        <p>Its an organization that supports people with cancer</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
    </div>
    </div>
  </div>


         

  	<div class="col-sm-6 col-md-4">
    	<div class="thumbnail transparent web_app_img">
    	<div class="web_app_img">
      	<img width="200" height="100" src="http://cdn.akhbaar24.com/a97ea46b-c361-4868-8c23-d37741897ac1.jpg">
      	<div class="caption">
        	<h3>HaQs organization </h3>
        	<p>We protect arabs rights in israel and support them</p>
        	<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      	</div>
    	</div>
    	</div>
  	</div>

      


  <div class="col-sm-6 col-md-4">
    <div class="thumbnail transparent web_app_img">
    <div class="web_app_img">
      <img width="200" height="100" src="http://www.farfesh.com/pic_server/articles_images/2012/04/13/brave_01.jpg">
      <div class="caption">
        <h3>al shog3an </h3>
        <p>We help kids with diabetes feel they are not different and can live a great life</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
    </div>
  </div>
</div>
</div>


<div class="container-fluid"> 

<div class="row">
  <div class="col-sm-6 col-md-4" class="web_app_img">
    <div class="thumbnail transparent web_app_img">
    <div class="web_app_img">
      <img width="200" height="100" src="http://almanarah.org/Public/image/articles/176875814420142809093621//12215447553748.JPG">
      <div class="caption">
        <h3>al manarah </h3>
        <p>we are an organization that helps people with disabilites </p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
        </div>
    </div>
  </div>


         

  	<div class="col-sm-6 col-md-4">
    	<div class="thumbnail transparent web_app_img">
    	<div class="web_app_img">
      	<img width="200" height="100" src="http://med.asu.edu.eg//uploads/news/201701124127.png">
      	<div class="caption"  style="font-size:12px">
        	<h3>orthodox  club </h3>
        	<p>it's a place for young people to enjoy sports and spend their afternoons they can  join leagues and go compete with other clubs in the country.
</p>
        	<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      	</div>
      	</div>
    	</div>
  	</div>

      


  <div class="col-sm-6 col-md-4">
    <div class="thumbnail transparent web_app_img">
    <div class="web_app_img">
      <img width="200" height="100" src="http://momken.org/Public/image/articles/17457297920162004090527//6046054620624.png">
      <div class="caption">
        <h3>Women against violence </h3>
        <p>This organization helps women who have been through violence & abusement and helps them to work out their lives after their trauma and abuse, such as :providing them jobs …</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
    </div>
  </div>
</div>
</div>





</body>
</html>
