<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <link rel="stylesheet" href="../static/common-files/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/common-files/css/fonts-v3.css">
  <link rel="stylesheet" href="../static/common-files/css/base-v4.css">
  <link rel="stylesheet" href="../static/styles/properties-66bf0b91-8604-7471-f73a-2620d17119b9.css">
</head>

<body>

  <div id="_276">

    <i id="_277"></i>

    <nav id="_278" class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li>

            <a id="_279" class="navbar-brand" href="{{ url_for('home') }}">Home</a>
          </li>
          <li>

            <a id="_280" href="{{ url_for('placesToVolunteer') }}">places to volunteer in</a>
          </li>
          <li class="active">

            <a id="_281" href="{{ url_for('login') }}">Login</a>
          </li>
          <li>

            <a id="_282" href="{{ url_for('logout') }}">Logout</a>
          </li>
        </ul>
      </div>
    </nav>

    <div id="_283" class="nm-label">
      <h1 id="_284">
            VOLUNPEER<br/>
        </h1>
    </div>
    <input type="text" id="_285" placeholder="" class="form-control" />
    <input type="text" id="_286" placeholder="" class="form-control" />

    <div id="_287" class="nm-label">
      <h1 id="_288">
            Username:<br/>
        </h1>
    </div>

    <div id="_289" class="nm-label">
      <h1 id="_290">
            Password:<br/>
        </h1>
    </div>
    <form action="{{ url_for('login') }}" method="POST" >
    <input id="_291" value="Login" type="submit" class="btn btn-default">
</form>
    <div id="_292" class="nm-label">
      <h2 id="_293">
            Don&#x27;t have an account? sign up<br/>
        </h2>
    </div>

    <div id="_294" data-pagelink="e7b88dec-bee0-187f-7efe-5f00b80f6e0b" class="nm-label">
      <a id="_295" href="#">
            here<br/>
        </a>
    </div>
  </div>
  <script type="text/javascript" src="../static/common-files/js/require.min.js" data-main="../scripts/startup"></script>
</body>

</html>