<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <link rel="stylesheet" href="../static/common-files/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/common-files/css/fonts-v3.css">
  <link rel="stylesheet" href="../static/common-files/css/base-v4.css">
  <link rel="stylesheet" href="../static/styles/properties-66bf0b91-8604-7471-f73a-2620d17119b9.css">
</head>

<body>

  <div id="_30">

    <nav id="_31" class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li>

            <a id="_32" class="navbar-brand" href="{{ url_for('home') }}">Home</a>
          </li>
          <li class="active">

            <a id="_33" href="{{ url_for('placesToVolunteer') }}">places to volunteer in</a>
          </li>
          <li>

            <a id="_34" href="{{ url_for('login') }}">Login</a>
          </li>
          <li>

            <a id="_35" href="{{ url_for('logout') }}">Logout</a>
          </li>
        </ul>
      </div>
    </nav>

    <i id="_36"></i>
    <a style="z-index: 101;" href="{{ url_for('place') }}">
    <i style="position: relative;" id="_37"></i>
    </a>
    <i id="_38"></i>

    <i id="_39"></i>

    <i id="_40"></i>
    <div id="_41" class="nm-label">
      <h2 id="_42">
            Volunteer in kindergartens<br/>
        </h2>
    </div>

    <div id="_43" class="nm-label">
      <h2 id="_44">
            Volunteer in highschools<br/>
        </h2>
    </div>

    <div id="_45" class="nm-label">
      <h2 id="_46">
            Volunteer in hospitals<br/>
        </h2>
    </div>

    <div id="_47" class="nm-label">
      <h2 id="_48">
            Volunteer in sport teams<br/>
        </h2>
    </div>

    <div id="_49">
      <svg id="_50">
           <line id="_51" x1="0" x2="369" y1="" y2="0" />
      </svg>
    </div>

    <div id="_52">
      <svg id="_53">
        <line id="_54" x1="0" x2="384" y1="" y2="0" />
      </svg>
    </div>

    <div id="_55">
      <svg id="_56">
        <line id="_57" x1="0" x2="379" y1="" y2="0" />
      </svg>
    </div>

    <div id="_58">
      <svg id="_59">
        <line id="_60" x1="0" x2="378" y1="" y2="0" />
      </svg>
    </div>

    <div id="_61">
      <svg id="_62">
        <line id="_63" x1="0" x2="379" y1="" y2="0" />
      </svg>
    </div>

    <div id="_64">
      <svg id="_65">
        <line id="_66" x1="0" x2="382" y1="" y2="0" />
      </svg>
    </div>

    <div id="_67">
      <svg id="_68">
        <line id="_69" x1="0" x2="384" y1="" y2="0" />
      </svg>
    </div>

    <div id="_70">
      <svg id="_71">
        <line id="_72" x1="0" x2="369" y1="" y2="0" />
      </svg>
    </div>

    <div id="_73">
      <svg id="_74">
        <line id="_75" x1="" x2="0" y1="0" y2="279" />
      </svg>
    </div>

    <div id="_76">
      <svg id="_77">
        <line id="_78" x1="" x2="0" y1="0" y2="279" />
      </svg>
    </div>

    <div id="_79">
      <svg id="_80">
        <line id="_81" x1="" x2="0" y1="0" y2="279" />
      </svg>
    </div>

    <div id="_82">
      <svg id="_83">
        <line id="_84" x1="" x2="0" y1="0" y2="279" />
      </svg>
    </div>

    <div id="_85">
      <svg id="_86">
        <line id="_87" x1="" x2="0" y1="0" y2="279" />
      </svg>
    </div>

    <div id="_88">
      <svg id="_89">
        <line id="_90" x1="" x2="0" y1="0" y2="279" />
      </svg>
    </div>

    <div id="_91">
      <svg id="_92">
        <line id="_93" x1="" x2="0" y1="0" y2="263" />
      </svg>
    </div>

    <div id="_94">
      <svg id="_95">
        <line id="_96" x1="" x2="0" y1="0" y2="279" />
      </svg>
    </div>

    <nav id="_97" class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li>

            <a id="_98" class="navbar-brand" href="{{ url_for('home') }}">Home</a>
          </li>
          <li class="active">

            <a id="_99" href="{{ url_for('placesToVolunteer') }}">places to volunteer in</a>
          </li>
          <li>

            <a id="_100" href="{{ url_for('login') }}">Login</a>
          </li>
          <li>

            <a id="_101" href="{{ url_for('logout') }}">Logout</a>
          </li>
        </ul>
      </div>
    </nav>

    <div id="_102" class="nm-label">
      <h1 id="_103">
            VOLUNPEER<br/>
        </h1>
    </div>
  </div>
  <script type="text/javascript" src="../static/common-files/js/require.min.js" data-main="../scripts/startup"></script>
</body>

</html>