<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <link rel="stylesheet" href="../static/common-files/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/common-files/css/fonts-v3.css">
  <link rel="stylesheet" href="../static/common-files/css/base-v4.css">
  <link rel="stylesheet" href="../static/styles/properties-66bf0b91-8604-7471-f73a-2620d17119b9.css">
</head>

<body>

  <div id="_296">

    <i id="_297"></i>

    <nav id="_298" class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li>

            <a id="_299" class="navbar-brand" href="{{ url_for('home') }}">Home</a>
          </li>
          <li>

            <a id="_300" href="{{ url_for('placesToVolunteer') }}">places to volunteer in</a>
          </li>
          <li>

            <a id="_301" href="{{ url_for('login') }}">Login</a>
          </li>
          <li>

            <a id="_302" href="{{ url_for('logout') }}">Logout</a>
          </li>
        </ul>
      </div>
    </nav>

    <div id="_303" class="nm-label">
      <h1 id="_304">
            VOLUNPEER<br/>
        </h1>
    </div>
    <input type="text" id="_305" placeholder="" class="form-control" />
    <input type="text" id="_306" placeholder="" class="form-control" />

    <div id="_307" class="nm-label">
      <h1 id="_308">
            Full name:<br/>
        </h1>
    </div>

    <div id="_309" class="nm-label">
      <h1 id="_310">
            Username:<br/>
        </h1>
    </div>
    <input type="text" id="_311" placeholder="" class="form-control" />
    <input type="text" id="_312" placeholder="" class="form-control" />

    <div id="_313" class="nm-label">
      <h1 id="_314">
            are you a volunteer or a place to volunteer in:<br/>
        </h1>
    </div>

    <div id="_315" class="nm-label">
      <h1 id="_316">
            Password:<br/>
        </h1>
    </div>
    <button id="_317" class="btn btn-default">
      Signup

    </button>
    <input type="text" id="_318" placeholder="" class="form-control" />
    <input type="text" id="_319" placeholder="" class="form-control" />

    <div id="_320" class="nm-label">
      <h1 id="_321">
            e-mail:<br/>
        </h1>
    </div>

    <div id="_322" class="nm-label">
      <h1 id="_323">
            Birthday:<br/>
        </h1>
    </div>

    <div id="_324" class="nm-label">
      <h1 id="_325">
            Enter a picture:<br/>
        </h1>
    </div>

    <i id="_326">
        
    </i>
  </div>
  <script type="text/javascript" src="../static/common-files/js/require.min.js" data-main="../scripts/startup"></script>
</body>

</html>